/* .ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 4px;
} */
tr:nth-child(odd) {
  background: #fff2e7;
}
tr:nth-child(even) {
  background: white;
}
thead[class*="ant-table-thead"] th {
  background-color: orange !important;

  color: white !important;
  font-weight: bold;
  border-color: #000;
  text-align: center;
}
.table_btn {
  margin: 0 !important;
}
.ant-btn {
  margin: 0;
}
/* .ant-table-tbody > tr:hover > td {
  color: #fff;
} */
.ant-pagination-item:focus {
  background-color: #ff7506 !important;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-pagination
  .ant-pagination-item-active
  a {
  color: white;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  border-color: #fff;
  background-color: #ff7506;
}
.ant-table-cell {
  padding: 14px !important;
}
/* cho * input  */
:where(.css-dev-only-do-not-override-1e3x2xa).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  display: none;
}
/* select option nhiều cái  */
:where(.css-dev-only-do-not-override-1e3x2xa).ant-select-multiple
  .ant-select-selection-item {
  background: #ffac6a;
  border-radius: 9px;
  color: #ffffff !important;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 44px !important;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-select-multiple
  .ant-select-selection-item-remove {
  color: #ffffff !important;
}
/* button thêm  */
:where(.css-dev-only-do-not-override-1e3x2xa).ant-btn-default:not(
    :disabled
  ):active {
  color: #ffffff;
  border-color: white;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-btn-default:not(
    :disabled
  ):hover {
  color: #ffffff;
  border-color: white;
}
/* checkbox bỏ margin  */
:where(.css-dev-only-do-not-override-1e3x2xa).ant-checkbox-wrapper
  + .ant-checkbox-wrapper {
  margin-inline-start: 0px;
}
/* chỉnh bảng modle  */
:where(.css-dev-only-do-not-override-1e3x2xa).ant-modal .ant-modal-content {
  padding: 20px 0px 0px;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-modal .ant-modal-content {
  border-radius: 8px;
  overflow: hidden;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-modal .ant-modal-footer {
  margin: 0;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__arrow {
  color: #ff7506;
}
.react-calendar__navigation__label__labelText {
  color: #ff7506;
}
abbr:where([title]) {
  text-decoration: none;
  color: #ff9138;
  text-transform: capitalize;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.react-calendar {
  width: auto !important;
  height: 336px;
  border-radius: 12px;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border: none !important;
  padding: 16px 30px;
}
.react-calendar__tile--active {
  background: #ff7506 !important;
  border-radius: 8px;
  color: white;
}
/* thông báo */
.ant-popover-inner {
  padding: 0 !important;
  border-radius: 10px;
  overflow: hidden;
}
