/* Import Nunito font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Set Nunito as the default font for the entire website */
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Nunito", sans-serif;
}
